<h3>Hola {{ nombre }}</h3>
<form action="/" method="post">
  <input type="text" name="password" id="password" value="erick1234" />
  <button type="submit">Enviar</button>
</form>
<a href="/companies">Ver las empresas</a>
<button type="button" id="button">Enviar SPA</button>
<button type="button" id="boton">Funcion Get</button>
<script>
  async function enviar(body) {
    const response = await fetch("/api/saludo", {
      method: "POST",
      body,
      headers: {
        'Accept': 'application/json',
        "Content-Type": "application/json",
      },
    });
    const datos = await response.json();
    console.log(datos);
  }
  (() => {
    const $button = document.getElementById("button");
    const $button2 = document.getElementById("boton");
    $button.addEventListener("click", () => enviar(null));
    $button2.addEventListener("click", () => enviar(JSON.stringify({ name: "erick" })));
  })();
</script>
