<h3>Hola {{ nombre }}</h3>
<form action="/" method="post">
  <input type="text" name="password" id="password" value="erick1234">
  <button type="submit">Enviar</button>
</form>
<a href="/companies">Ver las empresas</a>
<button type="button" id="button">Enviar SPA</button>
<script>
  function enviar() {
    console.log("hola erick");
    fetch("/", {
      method: "POST",
      body: JSON.stringify({ name: "erick"}),
      headers: {
        "Content-Type": "application/json",
      },
    });
  }
  (() => {
    const $button = document.getElementById("button");
    $button.addEventListener("click", enviar);
  })();
</script>
